extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus, arcu ut imperdiet rhoncus, nunc quam luctus leo, malesuada molestie tellus purus quis diam. Ut efficitur nibh lorem, in consectetur risus porttitor quis. Curabitur ex ligula, scelerisque at laoreet sit amet, dapibus id turpis. Cras egestas sit amet velit nec condimentum. Aliquam leo tellus, eleifend sodales dictum sit amet, elementum laoreet nunc. Mauris et euismod arcu. Sed aliquam sem eu commodo malesuada. Phasellus sit amet massa vitae lorem dictum pulvinar quis vel neque. Nam eget finibus metus.

                p Vivamus nisi erat, imperdiet ac ultrices non, elementum in turpis. Aenean finibus sem lectus, eu laoreet elit lacinia ac. Phasellus tempus tristique velit, et pharetra orci euismod nec. Donec eu tellus at sem porta suscipit et consectetur purus. Aliquam iaculis nibh a augue bibendum, ac mollis risus molestie. Vivamus sagittis metus tortor, quis iaculis lacus facilisis ut.

                p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vitae convallis metus. Donec lacinia sodales eros in lobortis. Curabitur feugiat, felis eget dictum luctus, tellus arcu feugiat diam, et pellentesque lorem sapien nec tellus. Suspendisse et sodales eros, in bibendum erat. Ut rhoncus mauris ac sem gravida, ut rhoncus turpis elementum. Ut nisi risus, convallis ut pharetra et, suscipit eu nisl. Maecenas pellentesque leo id lectus consectetur, sed venenatis eros eleifend.

        .listado-iconos 
            .container.mt-5.py-5.text-center
                .row 
                    .col-md-4
                        img(src="/img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus, arcu ut imperdiet rhoncus, nunc quam luctus leo, malesuada molestie tellus purus quis diam.
                    
                    .col-md-4
                        img(src="/img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus, arcu ut imperdiet rhoncus, nunc quam luctus leo, malesuada molestie tellus purus quis diam.
                    
                    .col-md-4
                        img(src="/img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                        h2.mb-4 Mejores precios
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus, arcu ut imperdiet rhoncus, nunc quam luctus leo, malesuada molestie tellus purus quis diam.