footer.container.py-5
    .row
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link.nav-link-footer(href="/nosotros") Nosotros
                a.nav-link.nav-link-footer(href="/viajes") Viajes
                a.nav-link.nav-link-footer(href="/testimoniales") Testimoniales
        .col
            p.copyright.text-center.text-md-right 
                | Todos los derechos reservados 
                span= actualYear